name: Deployment

# on commit push, run job
on: [push]

jobs:
  run:
    # worker runs on latest ubuntu
    runs-on: ubuntu-latest

    steps:
    # checkout to our repository so we have access to the source code
    - uses: actions/checkout@v2
    
    # the actual deployment to google
    - name: Cloud Functions Deploy
      uses: google-github-actions/deploy-cloud-functions@v0.1.2
      with:
        credentials: ${{ secrets.GCP_SA_KEY }}
        name: reconcile-fn
        description: Test reconcile-fn cloud function
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        region: europe-west1
        source_dir: src
        # name of our function in our main.py file, defaults to the resource name suffix 
        entry_point: reconcile-fn
        # runtime to use for the function
        runtime: java11
