name: Deployment

# on commit push, run job
##on: [push]
on:
  # Triggers the workflow on pull request events but only for the main branch
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'test/'

jobs:
  run:
    # worker runs on latest ubuntu
    runs-on: ubuntu-latest

    steps:
    # checkout to our repository so we have access to the source code
    - uses: actions/checkout@v2
    
    # the actual deployment to google
    - name: Cloud Functions Deploy
      uses: google-github-actions/deploy-cloud-functions@v0.1.2
      with:
        credentials: ${{ secrets.GCP_SA_KEY }}
        name: reconcile-fn
        description: Test reconcile-fn cloud function
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        event_trigger_type: providers/cloud.pubsub/eventTypes/topic.publish
        event_trigger_resource: projects/${{ secrets.gcp_project }}/topics/fhirtopic
        region: us-east4
        source_dir: function-source
        #REPO_NAME: reconcile-fn
        # name of our function in our main.py file, defaults to the resource name suffix 
        entry_point: com.functions.ReconcileFunction
        # runtime to use for the function
        runtime: java11
